.hidden {
  display: none;
}

.center {
  text-align: center;
}

body {
font-family: 'Montserrat', sans-serif;
background-color: rgb(30, 215, 96);
}

h1 {
  color: rgb(25 20 20);
  font-size: 50px;
}

h2 {
  color: rgb(25 20 20);
  font-size: 30px;
}

h3 {
  color: rgb(25 20 20);
  font-size: 20px;
}

.button {
  background-color: rgb(25 20 20);
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type=text] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
}

input[type=text]:focus {
  background-color: lightskyblue;
}

/* Mobile */

@media {

}
